body {
  background-color: #111;
  color: #111; /* Texto invisible (contraste pobre) */
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 42px;
  color: red;
}

img {
  width: 300px;
  height: auto;
}

button {
  background-color: purple;
  color: yellow;
  font-size: 20px;
  border: none;
  padding: 10px;
}

form label {
  display: inline-block; /* Problemas con layout */
  margin-right: 10px;
}

input, textarea {
  margin: 5px;
}
